export CASSANDRA_KEYSPACE={{ mci_keyspace }}
export CQL_VERSION=3.1.1
export CASSANDRA_VERSION=2
export CASSANDRA_HOST={{ groups['cassandra_seed_node'][0] }}
export CASSANDRA_PORT=9042
export CASSANDRA_TIMEOUT=60000
export CASSANDRA_REPLICATION_STRATEGY=SimpleStrategy
export CASSANDRA_REPLICATION_FACTOR=1
export CASSANDRA_MIGRATIONS_PATH=org/sharedhealth/mci/cassandra/migrations
export REST_POOL_SIZE=20
export MCI_PORT={{ mci_port }}
export MCI_NODE=1
export FR_URL=http://hrmtest.dghs.gov.bd/api/1.0/facilities
export LR_URL=http://hrmtest.dghs.gov.bd/api/1.0/locations
export IDENTITY_SERVER_BASE_URL=http://{{groups['identity-server'][0]}}:8080/token/
export LR_SYNC_FIXED_DELAY=30000
export FR_CACHE_TTL=86400
export AUDIT_LOG_SYNC_DELAY=30000
export IDP_CLIENT_ID={{ mci_idp_client_id }}
export IDP_AUTH_TOKEN={{ mci_idp_auth_token }}
export HTTP_SCHEME={{ mci_http_scheme }}
export HTTP_PORT={{ mci_http_port }}
export WORKER_ID={{ mci_worker_id }}
