parameters:
    secret: ThisTokenIsNotSoSecretChangeIt
    api_endpoint: http://{{ groups["mci-server"][0] }}:{{ mci_port }}/api/v1
    sso_endpoint: http://{{ groups["identity-server"][0]}}:8080
    app_token: {{mci_ui_idp_auth_token}}
    client_id: {{mci_ui_idp_client_id}}