<pipelines>
  <pipeline name="AtomFeedOmod" />
  <pipeline name="Bahmni-Seed-Data" />
  <pipeline name="BDSHR" />
  <pipeline name="bdshr-config" />
  <pipeline name="Cassandra-cluster-qa" />
  <pipeline name="Cassandra-cluster-showcase" />
  <pipeline name="FreeSHRUpdate" />
  <pipeline name="IdentityServer" />
  <pipeline name="mci" />
  <pipeline name="MCI-Seed-Data" />
  <pipeline name="mci-ui" />
  <pipeline name="openmrs-module-bdshrclient" />
  <pipeline name="openmrs-module_terminology-atomfeed-client" />
  <pipeline name="PatientJournal" />
  <pipeline name="SHR-Datasense" />
  <pipeline name="TerminologyServer" />
  <pipeline name="TerminologyServerFeed" />
</pipelines>
