config.file.path={{ tr_server_install_dir }}/etc/tr-server.properties
webservices.rest.uriPrefix=/openmrs/ws
concept.uri=/rest/v1/tr/concepts/
concept.reference.term.uri=/rest/v1/tr/referenceterms/
valueset.definition=answers