export MCI_PATIENT_PATH=/api/v1/patients
export TR_USER=admin
export TR_PASSWORD=Admin123
export CASSANDRA_KEYSPACE={{ freeshr_keyspace }}
export CQL_VERSION=3.0.0
export CASSANDRA_VERSION=2
export CASSANDRA_HOST={{ groups['cassandra_seed_node'][0] }}
export CASSANDRA_PORT=9042
export CASSANDRA_TIMEOUT=60000
export CASSANDRA_REPLICATION_STRATEGY=SimpleStrategy
export CASSANDRA_REPLICATION_FACTOR=1
export CASSANDRA_MIGRATIONS_PATH=org/freeshr/cassandra/migrations
export REST_POOL_SIZE=20
export BDSHR_PORT={{ bdshr_port }}
export VALIDATION_ZIP_PATH=/opt/bdshr/etc/validation.zip
export FACILITY_REGISTRY_URL=http://hrmtest.dghs.gov.bd/api/1.0/facilities/
export PROVIDER_REGISTRY_URL=http://hrmtest.dghs.gov.bd/api/1.0/providers/
export ENCOUNTER_FETCH_LIMIT=20
export SERVER_CONNECTION_TIMEOUT=10000
export TR_SERVER_BASE_URL=http://{{ groups['tr-server'][0] }}:9080
export IDENTITY_SERVER_BASE_URL=http://{{ groups['identity-server'][0] }}:8080/token/
export SHR_LOG_LEVEL=DEBUG
export FACILITY_CACHE_TTL_SECONDS=864000
export IDP_CLIENT_ID={{ bdshr_idp_client_id }}
export IDP_AUTH_TOKEN={{ bdshr_idp_auth_token }}
export SHR_VERSION=v1
export LOCAL_CACHE_TTL={{ bdshr_local_cache_ttl }}
export MCI_SERVER_URL=http://{{ groups['mci-server'][0] }}:{{ mci_port }}
export DATASENSE_FACILITY_CODES=10019845
