export DATASENSE_PORT={{ datasense_port }}
export DATABASE_URL=jdbc:mysql://localhost:3306/datasense
export DATABASE_USER=root
export DATABASE_PASSWORD=password
export DATABASE_CHANGELOG_FILE=classpath:/db/changelog/db-changelog.xml
export DATABASE_DRIVER=com.mysql.jdbc.Driver
export DATABASE_CON_POOL_SIZE=10
export SHR_SCHEME=http
export SHR_HOST={{ groups['shr'][0] }}
export SHR_PORT={{ bdshr_port }}
export SHR_VERSION=v1
export MCI_SCHEME=http
export MCI_HOST={{ groups['mci-server'][0] }}
export MCI_PORT={{ mci_port }}
export MCI_CONTEXT_PATH=api/v1/patients
export TR_SCHEME=http
export TR_HOST={{ groups['tr-server'][0] }}
export TR_PORT={{ tr_server_port }}
export TR_CONCEPT_ATOMFEED_PATH=openmrs/ws/atomfeed/concept/recent
export TR_REFERENCE_TERM_ATOMFEED_PATH=openmrs/ws/atomfeed/conceptreferenceterm/recent
export TR_MEDICATION_ATOMFEED_PATH=openmrs/ws/atomfeed/medication/recent
export TR_USER=admin
export TR_PASSWORD=Admin123
export DATASENSE_FACILITY_ID=10019845
export DATASENSE_CATCHMENT_LIST=3026
export FR_SCHEME=http
export FR_HOST=hrmtest.dghs.gov.bd
export FR_CONTEXT_PATH=api/1.0/facilities
export PR_SCHEME=http
export PR_HOST=hrmtest.dghs.gov.bd
export PR_CONTEXT_PATH=api/1.0/providers
export DHIS_USER_NAME=datasense
export DHIS_PASSWORD=Password678
export DHIS_AQS_CONFIG_PATH=/opt/datasense/lib/dhis_config/aqs_config/
# Properties for identity server
export IDP_SCHEME=http
export IDP_HOST={{ groups['identity-server'][0] }}
export IDP_PORT=8080
export IDP_CLIENT_ID={{ datasense_idp_client_id }}
export IDP_AUTH_TOKEN={{ datasense_idp_auth_token }}
export IDP_CLIENT_EMAIL={{ datasense_idp_client_email }}
export IDP_CLIENT_PASSWORD={{ datasense_idp_client_password }}
export IDP_SIGNIN_PATH=signin
export DEATH_CODES={{ datasense_death_codes }}
export DATE_OF_DEATH_UUID={{ datasense_date_of_death_uuid }}
export CIRCUMSTANCES_OF_DEATH_UUID={{ datasense_circumstances_of_death_uuid }}
export CAUSE_OF_DEATH_UUID={{ datasense_cause_of_death_uuid}}
export BAHMNI_ON_CLOUD_FACILITY_ID={{bahmni_oncloud_facility_id}}