export DATASENSE_PORT={{ datasense_port }}
export DATABASE_URL=jdbc:mysql://localhost:3306/datasense
export DATABASE_USER=datasense
export DATABASE_PASSWORD={{ datasense_mysql_user_password }}
export DATABASE_CHANGELOG_FILE=classpath:/db/changelog/db-changelog.xml
export DATABASE_DRIVER=com.mysql.jdbc.Driver
export DATABASE_CON_POOL_SIZE=10
export SHR_SERVER_URL={% if enable_proxy_routing is defined and enable_proxy_routing != false %}http://{{ shr_host_name }}{% else %}http://{{ groups['shr'][0] }}:{{ bdshr_port }}{% endif %}

export MCI_SERVER_PATIENT_URL={% if enable_proxy_routing is defined and enable_proxy_routing != false %}http://{{ mci_host_name }}{% else %}http://{{ groups['mci-server'][0] }}:{{ mci_port }}{% endif %}/api/v1/patients
export TR_SERVER_URL={% if enable_proxy_routing is defined and enable_proxy_routing != false %}http://{{ tr_host_name }}{% else %}http://{{ groups['tr-server'][0] }}:{{ tr_server_port }}{% endif %}

export TR_CONCEPT_ATOMFEED_PATH=/openmrs/ws/atomfeed/concept/recent
export TR_REFERENCE_TERM_ATOMFEED_PATH=/openmrs/ws/atomfeed/conceptreferenceterm/recent
export TR_MEDICATION_ATOMFEED_PATH=/openmrs/ws/atomfeed/medication/recent
export TR_USER={{tr_api_user_name}}
export TR_PASSWORD={{tr_api_user_password}}
export DATASENSE_FACILITY_ID=10019845
export DATASENSE_CATCHMENT_LIST={{datasense_catchment_list}}
export DATASENSE_LOG_LEVEL={{ datasense_log_level }}
export FACILITY_REGISTRY_URL={{facility_registry_url}}
export PROVIDER_REGISTRY_URL={{provider_registry_url}}
export DHIS_USER_NAME={{datasense_dhis_user}}
export DHIS_PASSWORD={{datasense_dhis_password}}
export DHIS_BASE_URL={{datasense_dhis_base_url}}
export DHIS_AQS_CONFIG_PATH=/opt/datasense/lib/dhis_config/aqs_config/
# Properties for identity server
export IDP_SERVER_LOGIN_URL={{idp_user_login_url}}
export IDP_SERVER_USERINFO_URL={{idp_user_info_url}}
export IDP_CLIENT_ID={{ datasense_idp_client_id }}
export IDP_AUTH_TOKEN={{ datasense_idp_auth_token }}
export IDP_CLIENT_EMAIL={{ datasense_idp_client_email }}
export IDP_CLIENT_PASSWORD={{ datasense_idp_client_password }}
export DEATH_CODES={{ datasense_death_codes }}
export DATE_OF_DEATH_UUID={{ datasense_date_of_death_uuid }}
export CIRCUMSTANCES_OF_DEATH_UUID={{ datasense_circumstances_of_death_uuid }}
export CAUSE_OF_DEATH_UUID={{ datasense_cause_of_death_uuid}}
export CLOUD_HOSTED_FACILITY_IDs={{datasense_cloud_hosted_facility_ids}}
export ENCOUNTER_SYNC_JOB_INTERVAL={{datasense_encounter_sync_interval}}
export TR_SYNC_JOB_INTERVAL={{datasense_tr_sync_interval}}
export MAX_FAILED_EVENTS={{datasense_max_failed_events}}