export DATASENSE_PORT={{ datasense_port }}
export DATABASE_URL=jdbc:mysql://localhost:3306/datasense
export DATABASE_USER=root
export DATABASE_PASSWORD=password
export DATABASE_CHANGELOG_FILE=classpath:/db/changelog/db-changelog.xml
export DATABASE_DRIVER=com.mysql.jdbc.Driver
export DATABASE_CON_POOL_SIZE=10
export SHR_SCHEME=http
export SHR_HOST={{ groups['shr'][0] }}
export SHR_PORT={{ shr_port }}
export SHR_USER=shr
export SHR_PASSWORD=password
export MCI_SCHEME=http
export MCI_HOST={{ groups['mci-server'][0] }}
export MCI_PORT={{ mci_port }}
export MCI_USER=mci
export MCI_PASSWORD=password
export MCI_CONTEXT_PATH=api/v1/patients
export TR_SCHEME=http
export TR_HOST={{ groups['tr-server'][0] }}
export TR_PORT=9080
export TR_CONCEPT_ATOMFEED_PATH=openmrs/ws/atomfeed/concept/recent
export TR_REFERENCE_TERM_ATOMFEED_PATH=openmrs/ws/atomfeed/conceptreferenceterm/recent
export TR_MEDICATION_ATOMFEED_PATH=openmrs/ws/atomfeed/medication/recent
export TR_USER=admin
export TR_PASSWORD=Admin123
export DATASENSE_FACILITY_ID=10000001
export DATASENSE_CATCHMENT_LIST=3026
export FR_SCHEME=http
export FR_HOST=hrmtest.dghs.gov.bd
export FR_CONTEXT_PATH=api/1.0/facilities
export HRM_AUTH_TOKEN=9c83d71d41161cbc860380202e43d868ea2b8cc229ed84a2af2ac0818a14cfb4
export PR_SCHEME=http
export PR_HOST=hrmtest.dghs.gov.bd
export PR_CONTEXT_PATH=api/1.0/providers
export DHIS_USER_NAME=datasense
export DHIS_PASSWORD=Password678
export DHIS_AQS_CONFIG_PATH=/opt/datasense/lib/dhis_config/aqs_config/
# Properties for identity server
export IDENTITY_SCHEME=http
export IDENTITY_HOST={{ groups['identity-server'][0] }}
export IDENTITY_PORT=8080
export IDENTITY_USER=shr
export IDENTITY_PASSWORD=P@ssword
export DEATH_CODES={{ datasense_death_codes }}
export DATE_OF_DEATH_UUID={{ datasense_date_of_death_uuid }}
export CIRCUMSTANCES_OF_DEATH_UUID={{ datasense_circumstances_of_death_uuid }}
export CAUSE_OF_DEATH_UUID={{ datasense_cause_of_death_uuid}}