export MCI_PORT={{ mci_registry_port }}
export MCI_LOG_LEVEL={{ mci_registry_log_level }}
export CASSANDRA_KEYSPACE={{ mci_registry_keyspace }}
export CASSANDRA_VERSION=2
export CASSANDRA_HOST={{ groups['cassandra_seed_node'][0] }}
export CASSANDRA_PORT=9042
export CASSANDRA_USER={{ mci_registry_cassandra_user }}
export CASSANDRA_PASSWORD={{ mci_registry_cassandra_pass }}
export CASSANDRA_MIGRATIONS_PATH=org/sharedhealth/mci/cassandra/migrations
export CASSANDRA_TIMEOUT=60000
export MCI_BASE_URL={% if enable_proxy_routing is defined and enable_proxy_routing != false %}http://{{ mci_registry_host_name }}{% else %}http://{{ groups['mci-registry'][0] }}:{{ mci_registry_port }}{% endif %}

export PATIENT_LINK_URI={% if enable_proxy_routing is defined and enable_proxy_routing != false %}http://{{ mci_host_name }}{% else %}http://{{ groups['mci-server'][0] }}:{{ mci_port }}{% endif %}/api/v1/patients/
