export MCI_PORT={{ mci_fhir_port }}
export MCI_LOG_LEVEL={{ mci_fhir_log_level }}
export CASSANDRA_KEYSPACE={{ mci_fhir_keyspace }}
export CASSANDRA_VERSION=2
export CASSANDRA_HOST={{ groups['cassandra_seed_node'][0] }}
export CASSANDRA_PORT=9042
export CASSANDRA_USER={{ mci_cassandra_user }}
export CASSANDRA_PASSWORD={{ mci_cassandra_pass }}
export CASSANDRA_TIMEOUT=60000
export MCI_BASE_URL={% if enable_proxy_routing is defined and enable_proxy_routing != false %}http://{{ mci_host_name }}{% else %}http://{{ groups['mci-fhir'][0] }}:{{ mci_fhir_port }}{% endif %}

export PATIENT_LINK_URI={% if enable_proxy_routing is defined and enable_proxy_routing != false %}http://{{ mci_host_name }}{% else %}http://{{ groups['mci-server'][0] }}:{{ mci_port }}{% endif %}/api/v1/patients/

export PROFILES_FOLDER_PATH={{mci_fhir_profiles_folder}}

export IDP_BASE_URL={{idp_sso_base_url}}
export IDP_SIGNIN_URL={{idp_login_url_path}}
export IDP_USERINFO_URL=/token/%s
export IDP_CLIENT_ID={{mci_fhir_idp_client_id}}
export IDP_X_AUTH_TOKEN={{mci_fhir_idp_auth_token}}
export IDP_EMAIL={{mci_fhir_idp_client_email}}
export IDP_PASSWORD={{mci_fhir_idp_client_password}}

export HID_SERVICE_BASE_URL={% if enable_proxy_routing is defined and enable_proxy_routing != false %}http://{{ mci_host_name }}{% else %}http://{{groups['healthid-server'][0]}}:{{healthId_port}}{% endif %}

export HID_SERVICE_NEXT_BLOCK_URL=/healthIds/nextBlock/mci/%s?blockSize=%s
export HID_SERVICE_MARK_USED_URL=/healthIds/markUsed/%s
export HID_REPLENISH_INITIAL_DELAY=0
export HID_REPLENISH_DELAY={{mci_fhir_hid_replenish_delay}}
export HID_REPLENISH_BLOCK_SIZE={{mci_fhir_healthId_replenish_block_size}}
export HID_REPLENISH_THRESHOLD={{mci_fhir_healthId_replenish_threshold}}
export HID_LOCAL_STORAGE_PATH={{mci_health_id_file_directory_path}}/{{mci_fhir_idp_client_id}}-available_hids.txt